.port-back{
    background:linear-gradient(90deg, rgb(44, 49, 53) 0%, rgba(24, 27, 31, 0) 100%), url(../img/backgorund.jpg);
    min-height: 100vh;
}
.port-container{
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.port-link{
    width: 500px;
    height: 150px;
    border: 5px solid #F8E1B6;
    color: #F8E1B6;
    margin-bottom: 15px;
    text-decoration: none;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s;
    box-shadow: 5px 5px 5px #309cb8;
    margin-top: 50px;
}
.port-link:hover{
    background: #F8E1B6 ;
    color:#309cb8;
    transform: translate(-10px, -10px);
}

@media(max-width:576px){
    .port-link{
        font-size: 30px;
    }
    .btn-Add{
        font-size: 10px;
    }
}
@media (min-width: 576px) {
    .port-link{
        font-size: 30px;
    }
    .btn-Add{
        font-size: 10px;
    }
  }
  
  @media (min-width: 768px) {
    .port-link{
        font-size: 30px;
    }
  }
  
  @media (min-width: 992px) {
      .port-link{
          font-size: 40px;
      }
  }
  
  @media (min-width: 1200px) {
    .port-link{
        font-size: 50px;
    }
  }