.res-back{
    background:linear-gradient(90deg, rgb(44, 49, 53) 0%, rgba(24, 27, 31, 0) 100%), url(../img/backgorund.jpg);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.resume-main{
    width: 80%;
    height: 500px;
    border: 5px solid #F8E1B6;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.res-cont{
    width: 100%;
    height: 100%;
    color: #F8E1B6;
    border-right: 3px solid #F8E1B6;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    transition: .7s ease-in;
}
.res-h3{
    opacity: 1;
    font-size: 60px;
    font-weight: 700;
}
.res-name{
    display: none;
}
.res-cont:hover{
    width: 400%;
}
.res-cont:hover .res-name{
    width: 100%;
    height: 100%;
    display: block;
}
.res-cont:hover .res-h3{
    display: none;
}
.edu-cont{
    display: flex;
}
.edu-p{
    font-size: 20px;
    font-weight: 500;
}
.skill-cont{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}
.skills{
    width: 300px;
    border: 3px solid #F8E1B6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.skill-foto{
    margin-top: 10px;
    width: 50px;
    height: 50px;
}
.skill-name{
    margin-bottom: 10px;
}
