.back{
    background:linear-gradient(90deg, rgb(44, 49, 53) 0%, rgba(24, 27, 31, 0) 100%), url(../img/backgorund.jpg);
    min-height: 100vh;
}
.about{
    height: 100%;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (min-width: 576px) {
    .about-cont {
        width: 546px;
    }
  }
  
  @media (min-width: 768px) {
    .about-cont {
        width: 738px;
    }
  }
  
  @media (min-width: 992px) {
    .about-cont {
        width: 466px;
    }
  }
  
  @media (min-width: 1200px) {
    .about-cont {
        width: 570px;
    }
  }
.about-text{
    color: #F8E1B6;
    font-weight: 700;
    font-size: 23.5px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.text-me{
    margin-bottom: 35px;
    font-size: 20px;
}
.foto{
    height: 500px;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 100%;
    box-shadow: 5px 5px 5px #309cb8;
    
}
