.back{
    background:linear-gradient(90deg, rgb(44, 49, 53) 0%, rgba(24, 27, 31, 0) 100%), url(../img/backgorund.jpg);
    min-height: 100vh;
}
.about{
    height: 100%;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media(max-width:576px){
    .about-cont{
        width: 240px;
    }
    .text-me{
        font-size: 7px;
        margin-bottom:7px;   
     }
    .foto{
        height: 180px;
    }
}
@media (min-width: 576px) {
    .about-cont {
        width: 258px;
    }
    .text-me{
        font-size: 10px;
        margin-bottom:7px;
    }
    .foto{
        height: 260px;
    }
  }
  
  @media (min-width: 768px) {
    .about-cont {
        width: 354px;
    }
    .text-me{
        font-size: 12px;
        margin-bottom:12px;
    }
    .foto{
        height: 354px;
    }
  }
  
  @media (min-width: 992px) {
    .about-cont {
        width: 466px;
    }
    .text-me{
        font-size: 17px;
        margin-bottom:17px;
    }
    .foto{
        height: 466px;
    }
  }
  
  @media (min-width: 1200px) {
    .about-cont {
        width: 570px;
    }
    .text-me{
        font-size: 25px;
        margin-bottom:20px;
    }
    .foto{
        height: 570px;
    }
  }
.about-text{
    color: #F8E1B6;
    font-weight: 700;
    font-size: 23.5px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.foto{
    margin-right: 15px;
    margin-bottom: 15px;
    width: 100%;
    box-shadow: 5px 5px 5px #309cb8;
    
}
