
.text{
    font-weight: 700;
    text-decoration: none;
    color:#F8E1B6 ; 
}
.text:hover{
    color: rgb(204, 204, 23);
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}
.background{
    background-color:#309cb8;
    height: 50px;
}
@media(max-width:576px){
    .text{
        font-size: 7px;
    }
}
@media (min-width: 576px) {
    .text{
        font-size: 10px;
    }
  }
  
  @media (min-width: 768px) {
    .text{
        font-size: 15px;
    }
  }
  
  @media (min-width: 992px) {
    .text{
        font-size: 20px;
    }
  }
  
  @media (min-width: 1200px) {
    .text{
        font-size: 25px;
    }
  }
