body{
    min-width: 100vw;
}
.cont-name{
    width: 100%;
}
.cont-back{
    background:linear-gradient(90deg, rgb(44, 49, 53) 0%, rgba(24, 27, 31, 0) 100%), url(../img/backgorund.jpg);
    min-height: 100vh;
    width: 100%;
}

.contact-container{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cont-block{
    height: 150px;
    border: 5px solid #F8E1B6;
    color: #F8E1B6;
    margin-bottom: 15px;
    text-decoration: none;
    text-align: center;
    transition: transform 1s;
    box-shadow: 5px 5px 5px #309cb8;
    margin-top: 50px;
}
.cont-block:hover {
    background: #F8E1B6 ;
    color:#309cb8;
    transform: translate(-10px, -10px);
}
.cont-set{
    font-weight: 700;
}
.cont-name{
    font-weight: 500;
}

    @media(max-width: 576px){
        .cont-set{
            font-size: 20px;
        }
        .cont-name{
            font-size: 14px;
        }
        .cont-set{
            font-size: 20px;
        }
        .cont-name{
            font-size: 14px;
        }
    }
    @media (min-width: 576px) {
        .cont-block {
            width: 546px;
        }
        .cont-set{
            font-size: 50px;
        }
        .cont-name{
            font-size: 35px;
        }
    }
      
    @media (min-width: 768px) {
        .cont-block {
            width: 738px;
        }
        .cont-set{
            font-size: 30px;
        }
        .cont-name{
            font-size: 15px;
        }
    }
      
    @media (min-width: 992px) {
        .cont-block {
            width: 466px;
        }
        .cont-set{
            font-size: 40px;
        }
        .cont-name{
            font-size: 25px;
        }
    }
      
    @media (min-width: 1200px) {
        .cont-block {
            width: 570px;
        }
        .cont-set{
            font-size: 50px;
        }
        .cont-name{
            font-size: 35px;
        }
    }